<div class="atoum-menu--container atoum-menu--container__primary sidebar extension-list atoum-mobile-menu" id="sidebar">
    <ul>
        <li class="menu-item--brand">
            <img src="{{ site.url }}/assets/images/atoum.png"> atoum
        </li>
        <li id="nav-about" class="menu-item--primary" >
            <a href="http://atoum.org/">
                <img src="{{ site.url }}/assets/images/icon/about.svg"/>
                about
            </a>
        </li>
        <li id="nav-features" class="menu-item--primary">
            <a href="http://atoum.org/features.html">
                <img src="{{ site.url }}/assets/images/icon/features.svg" />
                features
            </a>
        </li>
        <li id="nav-source" class="menu-item--primary">
            <a href="http://atoum.org/sources.html">
                <img src="{{ site.url }}/assets/images/icon/source.svg" />
                sources
            </a>
        </li>
        <li id="nav-documentation" class="menu-item--primary">
            <a href="http://docs.atoum.org/">
                <img src="{{ site.url }}/assets/images/icon/documentation.svg" />
                documentation
            </a>
        </li>
        <li id="nav-posts" class="menu-item--primary">
            <a href="http://atoum.org/news.html">
                <img src="{{ site.url }}/assets/images/icon/news.svg" />
                news
            </a>
        </li>
        <li id="nav-telemetry" class="menu-item--primary">
            <a href="https://dashboard.telemetry.atoum.org" target="telemetry">
                <img src="{{ site.url }}/assets/images/icon/telemetry.svg" />
                telemetry
            </a>
        </li>
        <li id="nav-extensions" class="menu-item--primary menu-item--current">
            <a href="http://extensions.atoum.org">
                <img src="{{ site.url }}/assets/images/icon/puzzle.svg" />
                extensions
            </a>
        </li>
        {{ include('extension_list.html.twig') }}
    </ul>
</div>

<div aria-controls="sidebar" onclick="toggleMenu(this)" class="atoum-menu--icon-container">
    <svg viewBox="0 0 100 100" class="atoum-menu--icon">
        <title>Open menu icon</title>
        <desc>N-ARY CIRCLED PLUS OPERATOR</desc>

        <circle cx="50" cy="50" r="40" />
        <line x1="20" y1="50" x2="80" y2="50" transform="rotate(90 50 50)" />
        <line x1="20" y1="50" x2="80" y2="50" />
    </svg>
</div>
